.btn {
    padding: 10px 15px;
    outline: none;
    background-color: rgba(0, 0, 255, 0.649) ;
    color: whitesmoke;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
    }
    &::after {
        background-color: rgba(0, 0, 255, 0.500) ;
    }
}

/* common  */
.flex {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.flex-col {
    flex-direction : column  
}

.gap {
    padding : 10px 10px ;
}
